<IfModule mod_rewrite.c>
RewriteEngine on

# Membuat halaman khusus yang berisi pesan kesalahan

ErrorDocument 404 http://localhost/steam-mobil-dan-motor/404.html
ErrorDocument 403 http://localhost/steam-mobil-motor/403.html

# Memproteksi direktori pada aplikasi

Options All -Indexes
</IfModule>
