.bg-login-image {
  background: url(../img/bg-login.png);
  background-position: center;
  background-size: cover;
  background-color: #39c0d4;
}

.wrapper-login {
  min-height: 100vh !important;
  justify-content: center;
  align-items: center;
}

form.user .form-control-user {
  font-size: 1rem;
  border-radius: 10rem;
  padding: 1.5rem 1rem;
}

form.user .btn-user {
  font-size: 1rem;
  border-radius: 10rem;
  padding: .75rem 1rem;
}